#body {
	margin-top: 75px;
}

#comments, #comments li {
	margin: 0;
	padding: 0;
}

#comments li {
	list-style: none;
}

@media(min-width: 768px) { /* tablets and up */
	.group2 {
		text-align: right;
	}
}

.photo {
	margin-bottom: 10px;
}

.social-buttons button {
	margin-top: 5px;
}

footer {
	margin: 10px 0;
}